.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:70vh;
}

.login-form{
  background:#1e3a8a;
  padding:40px;
  border-radius:8px;
  width:300px;
  color:white;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.login-form input{
  padding:10px;
  border:none;
  border-radius:5px;
}

.login-form button{
  background:#0f172a;
  color:white;
  padding:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}